* {
    box-sizing:border-box;
    border-width:0;
    border-style:solid
}

.post-form {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#kasutaja, #parool {
    color: blue;
}

.empty {
    padding-top: 70px;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-form > h2 {
    margin-bottom: 10px;
}

a {
    color:black;
    text-decoration:none;
}


.peakast {
    overflow:auto;
    min-height:100vh;
}

.header {
    flex:0 0 auto;
    width:100%;
    display:flex;
    align-items:center;
    border-radius:25px;
    justify-content:flex-start;
    background-color:#a9a9a9;
    padding:20px 40px
}

.navi_lingid {
    flex:0 0 auto;
    width:50%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:flex-start
}

.link {
    font-size:30px;
    font-weight:600;
    margin:0
}
.link:hover {
    background-color: lightgray;
}

.profiilikas_navi {
    width:50%;
    display:flex;
    align-items:center;
    justify-content:flex-end
}

.navi_profiilikas {
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50px
}

.post-form h2 ~ a {
    font-size: 20px;
}

.centered button {
    background-color: #1f467d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

