/* ID Selector */
#post-body {
    width: 100%;
    padding: 10px;
}

/* Class Selectors */
.post-form {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px; /* Limit the width for mobile */
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.form-group {
    display: flex;
    flex-direction: row; /* Display label and input side by side */
    align-items: center; /* Center vertically */
    margin-bottom: 10px;
}

#image-upload[type=file]::file-selector-button {
    padding: .2em .4em;
    background-color: grey;
    color: white;
}

.label {
    flex: 1; /* Distribute remaining space to the label */
    margin-right: 10px;
    text-align: right; /* Right-align the label */
}

.input {
    flex: 2; /* Distribute more space to the input */
}

/* Larger Choose File button */


/* Dark gray button with white text */
.button-primary {
    background-color: #1f467d; /* Dark gray background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

.empty {
    padding-top: 70px;
}
.centered {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}



/* Child Selector */
.post-form > h2 {
    margin-bottom: 10px;
}
